server {
    listen 80;
    listen [::]:80;

    # For https
    listen 443 ssl;
    listen [::]:443 ssl;
    ssl_certificate conf.d/ssl/default.crt;
    ssl_certificate_key conf.d/ssl/default.key;
    ##
    server_name app.example.com;

    root /var/www/app;
    index index.php index.html index.htm;
    client_max_body_size 1024M;
    error_log /var/log/nginx/app.example.com.error.log;
    access_log /var/log/nginx/app.example.com.access.log;

    location / {
        ## For VUE, static files
        # try_files $uri $uri/ /index.html$request_uri;

        ## For PHP
        try_files $uri $uri/ /index.php/$request_uri;
        # if (!-e $request_filename) {
        #     rewrite ^/(.*)$ /index.php/$1 last;
        #     break;
        # }
        # try_files $uri $uri/ /index.php$is_args$args;
    }
    ## Fixed ThinkPHP deploy subdir
    location /subdir {
        rewrite /subdir/(.*)/public/assets/(.*)$ /subdir/$1/public/assets/$2 break;
        rewrite /subdir/(.*)/public/static/(.*)$ /subdir/$1/public/static/$2 break;
        rewrite /subdir/(.*)/public/(.*)$ /subdir/$1/public/index.php/$2 last;
    }
    location ~ \.php(.*)$ {
        try_files $uri /index.php =404;
        fastcgi_pass backend_php;
        fastcgi_index index.php;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
        ## fixed ThinkPHP PATH_INFO
        fastcgi_split_path_info ^((?U).+\.php)(/?.+)$;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param APP_ENV product;
        ## fixes timeouts
        fastcgi_read_timeout 600;
        include fastcgi_params;
    }

    ## java
    location /spring {
        proxy_pass http://127.0.0.1:8080;
    }
    location /spring-ui {
        proxy_pass http://127.0.0.1:8081;
    }

    include conf.d/default.include;
}
