server {
    listen 80;
    listen [::]:80;

    include app.include.ssl;

    server_name app.test;

    root /var/www/app;
    index index.php index.html index.htm;
    error_log /var/log/nginx/app.error.log;
    access_log /var/log/nginx/app.access.log;

    include conf.d/app.include.root;
    include conf.d/app.include.java;
    include conf.d/app.include.php;
    include conf.d/default.include;
}
